$width: 100%;
$max-width: 1920px;
$gnb_width: calc(100% - 10%);
$header_bg_color: rgba(3, 3, 2, 0.5);
$gnb_sub_font_color: #c4b79e;
$gnb_font_color: #faf3e1;
$gnb_font_color_hover: #fbb813;

@mixin width {
  width: $width;
  max-width: $max-width;
  margin: 0 auto;
};
@mixin gnb_width {
  width: $gnb_width;
  max-width: $max-width;
  margin: 0 auto;
};

.footer {
  background: url("../img/footer_bg.jpg") no-repeat center center/cover;
  @include width;
  height:322px;
  padding-top:15px;
  ul {
  @include gnb_width;
    h2 {
      color: $gnb_sub_font_color;
      font: 3.1rem "Lato";
    }
  }

};

.center_line {
  @include width;
  height: 2px;
  background: #fff;
  opacity: 0.5;
}