@use "variables";

.news {
  @include width;
  .news_header {
    position:relative;
    text-align: center;
    img {
      width:100%;
    }
    h2 {
      position:absolute;
      top: 31.1rem;
      left:50%;
      transform:translateX(-50%);
      font: 700 4.65rem "NanumSquare";
      color: $white;
      span {
        color: $yellow;
      }
    }
    p {
      position:absolute;
      top: 37.5rem;
      left:50%;
      transform:translateX(-50%);
      font: 700 1.8rem "NanumMyeongjo";
      color: $white;
    }
  }

  .news_contents {
    @include contents_width;
    margin-top:10rem;
    .news_contents_header {
      text-align: center;
      h2 {
        display: inline-block;
        width: 19.3rem;
        font: 4.8rem "BMYEONSUNG";
        color: $brown;
        line-height: 1;
        img {
          width:100%;
          transform:translateX(10%);
        }
      }
      .center_line_brown {
        width:10rem;
        height: 0.4rem;
        background: $brown;
        margin: 0 auto;
      }
      h3 {
        margin-top: 3.8rem;
        font: 700 3rem "NanumMyeongjo";
        color: $orange_02;
      }
      p {
        font: 1.8rem "NanumSquare";
        color: $brown;
        margin-top:1rem;
        span {
          color: $yellow;
          font-weight: 700;
        }
      }

    }

  }
}