@mixin html {
  a {
    color: inherit;
    text-decoration: none;
  }
  html {
    font-size:62.5%;
  }
};

@include html;

//header 
$width: 100%;
$max-width: 1920px;
$gnb_width: calc(100% - 10%);
$header_bg_color: rgba(3, 3, 2, 0.5);

$beige: #c4b79e;
$white: #faf3e1;
$yellow: #fbb813;
$brown: #786c60;
$orange: #f37537;
$black:  #18161b;

$gnb_z_index: 100;

@mixin width {
  width: $width;
  max-width: $max-width;
  margin: 0 auto;
};
@mixin gnb_width {
  width: $gnb_width;
  max-width: $max-width;
  margin: 0 auto;
};

@mixin align_center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}