@import "_reset";
@import "_variables";


body {
    font-family: -apple-system;
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
}
img {
    width:100px;
}
footer {
    display: none;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: 300;
    margin-top: 10px;
}
